# TODO: Create Deployment for k8s-demo application
apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-demo
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k8s-demo
  template:
    metadata:
      labels:
        app: k8s-demo
    spec:
      containers:
        - name: k8s-demo
          image: k8s-demo:latest
          ports:
            - containerPort: 8080
          # TODO: Add health probes
          # TODO: Add resource limits
