server:
  port: 8080

spring:
  application:
    name: config-client
  config:
    import: "configserver:http://localhost:8888"
  cloud:
    config:
      fail-fast: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
  endpoint:
    health:
      show-details: always
